.href{color: white;
font-size: 20px;}
#searchbar{
    position:relative;
    width: 100%;
    height:auto;
    text-align: center;
    margin-bottom: 50px;
}
.blocAjout{

}
.ingredient {
    float: right;
    margin-top: 20px;
    font-size: 25px;
    margin-right: 10px;
}
.quantite{
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
#idnom{
    width: 50px
}
#ingredient{
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 25px;
    margin-right: 100px;
}
body{
    font-size: 50px;
    margin-top: 20px;
    background-image: url("img/fond.jpg");
    color: white;
}
input{
    margin-top: 20px;
    float: right;
    font-size: 25px;
    margin-right: 100px;
}
#rhumSel{
    margin-top: 20px;
    float: right;
    font-size: 25px;
    margin-right: 100px;
    width: auto;
}
#quantite{
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
textarea{
    margin-top: 20px;
    float: right;
    margin-right: 100px;
    font-size: 25px;
    height: 250px;
}
#unite{
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 25px;
    margin-right: 10px;
}
#prix{
    width: 50px;

}
#alcool{
    margin-top: 20px;
    float: right;
    font-size: 25px;
    margin-right: 100px;
}
#uniteA{
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 25px;
    margin-right: 10px;
}
#quantiteA{
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
h1{
    text-align: center;
}

#ajoutForm{
    float: left;
    width: 100%;
}
#ajoutForm2{
    float: left;
    width: 100%;
}
#idrecette{
    width: 50px;
}
#ingredientId{
    width: 50px;
}
