body{
    font-size: 50px;
    margin-top: 20px;
    background-image: url("img/fond.jpg");
    color: white;
}
input{
    margin-top: 20px;
    float: right;
    font-size: 25px;
    margin-right: 100px;
}
#quantiter{
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
textarea{
    margin-top: 20px;
    float: right;
    margin-right: 100px;
    font-size: 25px;
    height: 250px;
}
#uniter{
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 25px;
    margin-right: 10px;
}
#prix{
    width: 50px;

}
#alcool{
    margin-top: 20px;
    float: right;
    font-size: 25px;
    margin-right: 100px;
}
#uniterA{
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 25px;
    margin-right: 10px;
}
#quantiterA{
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
h1{
    text-align: center;
}

#ajoutForm{
    float: left;
    width: 100%;
}
