
body{
    background-image: url("img/fond.jpg");
}
.href{color: white;}
#searchbar{
    position:relative;
    width: 100%;
    height:auto;
    text-align: center;
    margin-bottom: 50px;
}

#rhumSel{
    text-align: center;
    background-repeat: no-repeat;
    height: 35px;
    padding: 0;
    box-shadow: none;
    font-size: 20px;
}
#prix{
    text-align: center;
    width: 800px;
    margin-left: 27%;
    color:white;
    font-size:25px;
}
#ingredient{
    text-align: center;
    width: 800px;
    margin-left: 27%;
    color: white;
    font-size:25px;
}
#alcool{
    text-align: center;
    width: 800px;
    margin-left: 27%;
    color:white;
    font-size:25px;
}
#maceration{
    text-align: center;
    margin-left: 27%;
    width: 800px;
    color:white;
    font-size:25px;
}
#deroulement{
    text-align: center;
    width: 800px;
    margin-left: 27%;
    color:white;
    font-size:25px;
}
ol{
    font-size: 30px ;
    text-align: center;
    color: white;
}

/*#recette{
    width: 350px ;
    margin-left: 40%;
    text-align: center ;
    border: 2px solid ;
    height: 570px;
    font-size: 25px;
    margin-top: 10%;
    color: white; }*/
#rhum{
    margin-left: 28%;
    float: left;
    text-align: center;
    color:white;
}
#titreal{
    text-align: center;
    margin-right: 80%;
    color: white;
}
h1{
    color: white;
}
h2{
    color: white;
}
b{
    color: black;
}
