body{
    background-image: url("img/fond.jpg");
}
#searchbar{
    position:relative;
    width: 100%;
    height:auto;
    text-align: center;
    margin-bottom: 50px;
}
#ajoutRhum{
    background-color: wheat;
    width: 285px ;
    margin-left: 25%;
    float: left;
    height: 200px;
    font-size: 25px;
    margin-top: 5%;
}
#recetteRhum{
    background-color: wheat;
    width: 290px ;
    float: left;
    height: 200px;
    font-size: 25px;
    margin-top: 5%;
}
#ajoutIngredient{
    background-color: wheat;
     width: 295px ;
     float: left;
     height: 200px;
     font-size: 25px;
     margin-top: 5%;
 }
#alcool{
    margin-left: 70%;
    margin-right: 0%;
    width: 800px;
    margin-bottom: 10%;
}
ol{
    font-size: 30px ;
    text-align: center;
}
#titreal{
    text-align: center;
    margin-right: 80%;
}
h1{
    color: white;
}
h2{
    color: white;
}
