body{
    background-image: url("img/fond.jpg");
}
#searchbar{
    position:relative;
    width: 100%;
    height:auto;
    text-align: center;
    margin-bottom: 50px;
}
#rhumSel{
    background-repeat: no-repeat;
    width: 50%;
    height: 35px;
    padding: 0;
    box-shadow: none;
    font-size: 20px;
}
#ajoutRhum{
    width: 300px ;
    margin-left: 32%;
    float: left;
    height: 580px;
    font-size: 25px;
    margin-top: 5%;
}
#recetteRhum{
    width: 300px ;
    float: left;
    height: 580px;
    font-size: 25px;
    margin-top: 5%;
}
#alcool{
    margin-left: 70%;
    margin-right: 0%;
    width: 800px;
    margin-bottom: 10%;
}
ol{
    font-size: 30px ;
    text-align: center;
}
#titreal{
    text-align: center;
    margin-right: 80%;
}
h1{
    color: white;
}
h2{
    color: white;
}
